<ion-header>
  <ion-toolbar color="success">
    <ion-title> Academy Editor </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearEditor()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="preview()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="4" offsetSm="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-padding">
              <quill-editor [(ngModel)]="mytext" theme="snow" [styles]="editorStyle"></quill-editor>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
